@model S3FileDetais

<table>
    <tr>
        <th>Nombre de Archivo</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.FileName)</td>
        <br />
    </tr>
</table>

<form asp-action="DownloadFile">
    <!-- Forzamos el atributo 'name' y el 'value' directamente desde el Modelo -->
    <input type="hidden" name="FileName" value="@Model.FileName" />
    <br />
    <input type="submit" value="Descargar" class="btn btn-danger" />
</form>